body {
  font-family: "Work Sans", sans-serif;
  background-image: url('./images/background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #F8EEFF;
}


.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.faq-heading {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}

.faq-heading img {
  margin: 20px 15px 0px 50px;
}

.faq-heading h1 {
  margin: 20px 0px 0px 10px;
  font-size: 56px;
  font-weight: bold;
  color: #301534;
}

.accordian {
  width: 500px;
}

.item {
  padding: 10px 20px;
  background-color: #FFFFFF;
}

.title {
  color: #301534;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.content {
  color: #8B6990;
  font-size: 12px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}
